/elpa/
.cache/
.custom
.lsp-session-v1
.mc-lists.el
.org-id-locations
.smex-savefile
abbrev_defs
auto-save-list/
backupfiles/
bookmarks
init.el~
org-persist/
org-roam.db
persp-confs/
projectile-bookmarks.eld
projects
recentf
smex-items
theme/
transient/
url/
diary
eshell/
projectile.cache
init.elc
company-statistics*
tramp
multisession/
request/
.org-generic-id-locations
oauth2-auto.plist
persist/
.agent/
.emacs.d.code-workspace