;;; public entries -*- mode: plstore -*-
(("%28%22primary%22%20org-gcal%29%0A" :secret-access-token t :secret-refresh-token t :secret-expiration t))
;;; secret entries
"-----BEGIN PGP MESSAGE-----

jA0ECQMImYDwbyZZfGz/0sD8AR5/MURt0m4xJpuEX8wrObK4Te4s1cZcCYk6X3ZZ
a8o/YA2V8tf95n/1zJcx7Fdee0o/HZc/vV1J9+1p9NUPMGD0IjjcZJyve7XE/WlJ
VUOspD9X8Zl8o/yZpqqYhpCq0rTgaAE2yt/dlHn61wRnIjJRj6Nvxx8gIkVUNH1+
F4Jtiozk1AItmEoeXdG8YcneuXaXzRfS2GF/gNZfiIS0M3U9yWuzB25I0MUhbnB4
HC3BNZV0s6lCNgL/UGcWwrgwBKnss7lFCyb0vEnvf5Jox14EFjYUDXJoInBVKjX2
BVs5P18n2AQJm9KkWuPSWnkpgA3Kk95sWLoIZD+VAx/GY5eaOW+8dXzeV7im47KK
pyRPDT7GAVoZy7bseShwcNmkrRYVBSas/HBJ9tIyrKDHSZQsmaKYuLXiaZlpOmna
zHfF3QsChk6f+xvx0m3t+37Zo593Lt9cuAb1fxCqfvL+e0/yz85dehx4uJx3StSO
KQ6TY3XubzSvQr0v7AUip+9PKKTv/5StrfM6zDqw4bE3XXryTm2Ic3REP/Zb7mV6
1+VDWkoco4GNFFzgMJzhCGXGe/1XgUrOq/fCN/Fp
=IfQV
-----END PGP MESSAGE-----
"